**Importing Libraries**

In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [ ]:
import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [ ]:
pd.__version__

In [ ]:
np.__version__

## Creating a Sample Dataframe

**Generating Names**

In [8]:
first = ['Alex','Harry','Hannah','Charlie','Emma','Emily','Anastasia','Mac','Joe','Harold']
last = ['James','Clarkson','Chalamet','Roland','Tomlinson','Payne','Steele','Grey','Robertson','Miller']

# combination
names = []
for i in first:
    for j in last:
        name = i+' '+j
        names.append(name)

print(np.random.shuffle(names))

None

**Generating Countries**

In [9]:
countries = ['America','England','Wales','Ireland','Scotland','India','Emirates','Pakistan','Palestine','Egypt']

**Generating Dates**

In [10]:
def random_date(start, end):
    delta = end - start
    random_days = np.random.randint(0, delta.days)
    return start + timedelta(days=random_days)

random_date(datetime(1960,1,1),datetime(2012,12,31))

datetime.datetime(2000, 4, 25, 0, 0)

**Generating a Dataframe**

In [11]:
num_rows = 500
np.random.seed(454)

data = {
    'ID': list(range(100_001,100_000+num_rows+1)),
    'Name': [np.random.choice(names) for _ in range(num_rows)],
    'Age': [np.random.randint(20, 80) for _ in range(num_rows)],
    'Gender': [np.random.choice(['Male','Female']) for _ in range(num_rows)],
    'Country': [np.random.choice(countries) for _ in range(num_rows)],
    'Height': [np.random.uniform(150, 200) for _ in range(num_rows)],
    'Weight': [np.random.uniform(50, 100) for _ in range(num_rows)],
    'IsStudent': [np.random.choice([True,False]) for _ in range(num_rows)],
    'Score': [np.int32(np.random.normal(100, 15)) for _ in range(num_rows)],
    'Grade': [np.random.choice(['A','B','C','D','E','F']) for _ in range(num_rows)],
    'Birthdate': [random_date(datetime(1960,1,1),datetime(2012,12,31)) for _ in range(num_rows)],
}

In [12]:
test_df = pd.DataFrame(data)
test_df.head()

,ID,Name,Age,Gender,Country,Height,Weight,IsStudent,Score,Grade,Birthdate
0,100001,Harry Payne,63,Female,Pakistan,166.243390,94.961548,False,110,D,1973-08-31
1,100002,Emily Roland,43,Female,Scotland,153.720175,51.508408,True,106,E,1970-10-13
2,100003,Alex Steele,21,Female,Ireland,163.968037,70.602036,True,79,A,1972-06-20
3,100004,Mac Clarkson,60,Female,Emirates,172.111597,69.342162,True,73,F,1984-10-17
4,100005,Anastasia Payne,39,Male,Ireland,182.232617,56.874504,False,77,C,1998-05-08

---

# Pandas

[Pandas Docs](https://pandas.pydata.org/docs/index.html#)

Pandas is a popular open-source Python library designed to provide easy-to-use data structures and data analysis tools. It serves as a powerful and flexible tool for handling structured data, making it a go-to choice for data manipulation, cleaning, and exploration in data science and analysis projects. At its core, Pandas utilizes two primary data structures: Series (1-dimensional labeled array) and DataFrame (2-dimensional labeled tabular data structure). Under the hood, Pandas leverages the NumPy library for efficient numerical computations, which makes it capable of handling large datasets with high performance. Pandas allows users to perform a wide range of operations, such as filtering, grouping, merging, reshaping, and more, making it an indispensable tool for working with structured data in Python.

## Creating Dataframes

In [ ]:
# from dictionary of lists
data = {
    'name': ['James','Jackson','Miley','Janet','Kulsum'],
    'age': [17,13,25,24,19],
    'country': ['USA','London','Canada','Georgia','India'],
    'occupation': ['student','student','artist','nurse','doctor'],
}

df = pd.DataFrame(data)
df.head()

In [ ]:
# from csv
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)
df.head()

**Head Stats of Dataframes**

In [ ]:
test_df.shape

In [ ]:
test_df.size

In [ ]:
test_df.max()

In [ ]:
test_df.mean()

In [ ]:
test_df.min()

In [ ]:
test_df.info()

In [ ]:
test_df.dtypes

In [ ]:
test_df.describe()

In [ ]:
test_df.nunique()

## Accessing the Dataframe

**Accessing Columns**

In [ ]:
test_df.columns

In [ ]:
test_df['Age']

In [ ]:
test_df[['Name','Grade']]

In [ ]:
# iloc[row_no,column_no] - integer location
test_df.iloc[:,1:]

In [ ]:
# loc[row_no,column_name] 
test_df.loc[:,'Age':]

In [ ]:
# counting each category in select column
test_df['Grade'].value_counts()

In [ ]:
test_df['Height'].count()

**Accessing Rows**

In [ ]:
test_df.index

In [ ]:
test_df['Age'][4:]

In [ ]:
# iloc[row_no,column_no] - integer location
test_df.iloc[[0,3]]

In [ ]:
# loc[row_no,column_name] 
test_df.loc[3:68:4,'Name'::2]

## Indexes

**Setting Index When Loading Dataframe**

In [ ]:
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url,index_col='PassengerId')
df.head()

**Setting Index After Dataframe Creation**

In [ ]:
test_df.set_index('ID',inplace=True)

**Reseting Index**

In [ ]:
test_df.reset_index(inplace=True)

## Filtering

**Filter Mask**

In [ ]:
filt = test_df['Age'] >= 65
test_df[filt]

In [ ]:
filt = (test_df['Height'] >= 190) & (test_df['Weight'] < 60)
test_df.loc[~filt, 'Grade']

In [ ]:
filt = test_df['Name'].str.contains('Steele')
test_df[filt]

## Modifying Dataframe

**Renaming Column Names**

In [ ]:
test_df.columns = [x.lower() for x in test_df.columns]
test_df.head()

In [ ]:
df = df.rename({
        'name':'naam',
        'age':'umar',
        'country':'watan',
        'occupation':'kaam'
        },axis=1)

df.head()

In [ ]:
test_df.rename({'isstudent':'isStudent'},axis=1,inplace=True)
test_df.head()

**Modifying Entries in Dataframe**

In [ ]:
test_df.iloc[54,6] = 70

In [ ]:
filt = (test_df['age'] == 20) & (test_df['name'].str.contains('Harry'))
test_df.loc[filt,'name'] = 'Harry James'
test_df.head(15)

**Built-In Methods for Modification**

1. apply()

In [ ]:
test_df['height'] = test_df['height'].apply(lambda x: np.round(x,2))
test_df.head()

2. applymap()

In [ ]:
df[['naam','kaam','watan']].applymap(lambda x: x.upper())

3. map()

In [ ]:
df['watan'].map({'USA':'America','London':'Britian'})

4. replace()

In [ ]:
df['watan'].replace({'USA':'America','London':'Britian'})

## Adding/Removing Rows and Columns

**Adding a Column**

In [ ]:
test_df[['first_name','last_name']]  = test_df['name'].str.split(' ',expand=True)
test_df

**Removing a Column**

In [ ]:
test_df.drop(columns=['first_name','last_name'])
test_df.drop(['first_name','last_name'],axis=1)

**Adding a Row**

In [ ]:
test_df.append({'age':19,'isStudent':False,'grade':'C'},ignore_index=True)

In [ ]:
avengers = {
    'name': ['ironman','thor','hulk'],
    'age': [41,800,35],
    'ability': ['rich','god','power'],
}

dc = {
    'name': ['superman','batman','flash'],
    'from': ['krypton','gotham',np.nan],
    'ability': ['god','rich','fast']
}

df1 = pd.DataFrame(avengers)
df2 = pd.DataFrame(dc)

In [ ]:
df1.append(df2,ignore_index=True) # deprecated
pd.concat([df1,df2],ignore_index=True,join='inner')

**Removing a Row**

In [ ]:
test_df.drop(index=2)

In [ ]:
filt = (test_df['name'].str.contains('Emily')) & (test_df['age']>25)
test_df.drop(test_df[filt].index)

## Sorting

**Sort Dataframe by Column**

In [ ]:
test_df.sort_values(by=['Score','Grade'],ascending=[False,True])

**Sort Column**

In [ ]:
test_df['Weight'].sort_values()

In [ ]:
test_df['Height'].nlargest(10)

In [ ]:
test_df.nsmallest(10,'Weight')

## Grouping and Aggregating

In [ ]:
test_df['Month'] = test_df['Birthdate'].dt.month_name()

In [ ]:
test_df.head()

**Creating a Parent Group**

In [ ]:
month_group = test_df.groupby(['Month'])

**Getting a Sub-Group from the Parent Group**

In [ ]:
month_group.get_group('January')

**Creating a Multi-Index Like Dataframe Using `groupby()` and Aggregating the Results**

In [ ]:
month_group.Grade.value_counts().head(50)

In [ ]:
month_group.Grade.value_counts().head(50).loc['May']

**Applying Aggregate Functions Over Sub-Groups**

In [ ]:
month_group.Height.mean()

In [ ]:
month_group.Height.mean().loc['July']

**Applying Multiple Aggregate Functions to a Parent Group**

In [ ]:
month_group.Score.agg(['mean','median'])

In [ ]:
month_group.Score.agg(['mean','median']).loc['September']

**Advanced Function Use**

In [ ]:
test_name = 'Emma'
country_group = test_df.groupby(['Country'])
country_group.Name.apply(lambda x: x.str.contains(test_name).sum()).sort_values(ascending=False)

In [ ]:
country_group.Score.agg(['min','max']).sort_values(by=['min','max'],ascending=[True,False])

**Creating Multiple Parent Groups**

In [ ]:
country_grade_group = test_df.groupby(['Country','Grade'])

In [ ]:
country_grade_group.get_group(('India','B'))

In [ ]:
country_grade_group.Height.median()

In [ ]:
country_grade_group.Month.agg('count')

In [ ]:
country_grade_group.Month.value_counts().head(50)

In [ ]:
country_grade_group.Month.value_counts().loc['India']

In [ ]:
country_grade_group.Month.value_counts().loc['India'].loc['A']

## Handling Missing Data

**Creating Null Values**

In [ ]:
def creating_nulls(nulls=1000):
    """
    function that creates null values to practise handling null values
    """
    null_test_df = test_df.copy()
    for _ in range(1000):
        row = np.random.choice(np.arange(test_df.shape[0]))
        col = np.random.choice(np.arange(test_df.shape[1]))
        null_test_df.iloc[row,col] = np.random.choice([np.nan,None,'Null','Missing'])
        
    return null_test_df

In [ ]:
null_test_df = creating_nulls()
null_test_df.head()

In [ ]:
null_test_df['Birthdate'].dt.strftime('%d-%m-%Y')

**Counting Null Values**

In [ ]:
null_test_df.isna()

In [ ]:
null_test_df.isna().sum()

**Replacing String Null Values with `np.nan` or `None`**

In [ ]:
null_test_df.replace(to_replace=['Null','Missing',None],value=np.nan,inplace=True)

In [ ]:
null_test_df.isna().sum()

In [ ]:
null_test_df.dtypes

**Removing Rows/Columns Based on Null Values**

In [ ]:
null_test_df.dropna(how='any')

In [ ]:
null_test_df.dropna(how='all',subset=['Name','Weight'])

In [ ]:
null_test_df.dropna(axis=1,how='all')

**Removing Rows Based on Non-Null Entries**

In [ ]:
null_test_df.dropna(axis=0,thresh=7)

In [ ]:
null_test_df.iloc[495]

**Filling Null Values**

In [ ]:
null_test_df.fillna(-np.inf)

In [ ]:
null_test_df['Weight'].fillna(np.mean(null_test_df['Weight']))

In [ ]:
null_test_df['ID'].interpolate()

In [ ]:
null_test_df['Country'].fillna(method='bfill')

In [ ]:
null_test_df['Grade'].fillna(method='ffill',limit=2)

## Casting Datatypes

In [ ]:
import sys

In [ ]:
test_df.head()

In [ ]:
test_df.dtypes

In [ ]:
sys.getsizeof(test_df)/1000

In [ ]:
test_df[['Country','Grade']] = test_df[['Country','Grade']].astype('category')

In [ ]:
test_df.dtypes

In [ ]:
sys.getsizeof(test_df)/1000

In [ ]:
test_df.info(memory_usage='deep')

In [ ]:
test_df[['Age','Score']] = test_df[['Age','Score']].astype((np.int32,np.int32))

In [ ]:
test_df.dtypes

In [ ]:
sys.getsizeof(test_df)/1000

## Time Series Analysis

[Pandas `dt` Method Docs](https://pandas.pydata.org/docs/reference/api/pandas.Series.dt.date.html)

**Creating Dataset**

In [ ]:
path = "C:\\Users\\dzuz1\\Desktop\\nasdaq.csv"

nasdaq = pd.read_csv(path) # parse_dates=['Date']
nasdaq.head()

**Converting Date Column to `datetime` object**

In [ ]:
nasdaq['Date'] = pd.to_datetime(nasdaq['Date']) # errors='coerce'
nasdaq

In [ ]:
nasdaq.dtypes

**Setting Date as Index**

In [ ]:
nasdaq.set_index('Date',inplace=True)

**Adding Month Column**

In [ ]:
nasdaq['Month'] = nasdaq.index.month_name()
nasdaq

`timedelta`

In [ ]:
nasdaq.index.max() - nasdaq.index.min()

**Filtering**

In [ ]:
filt = (nasdaq.index > '2007-05-10')  & (nasdaq.index < '2012-03-10')
nasdaq[filt]

In [ ]:
nasdaq.loc['2019']

**Resampling**  
[Pandas Dateoffset Docs](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#dateoffset-objects)

In [ ]:
nasdaq.loc['2023-05':'2023-06']['Close'].nsmallest()

In [ ]:
nasdaq['Close'].resample('M').min()

In [ ]:
nasdaq['Close'].resample('M').min().plot()

In [ ]:
nasdaq[['Close','Open']]['2020':].resample('M').min().plot()

**Using `agg` with Resampling**

In [ ]:
# removing redundant col AdjClose
nasdaq.drop('Adj Close',axis=1,inplace=True)

In [ ]:
nasdaq['2002-05-01':'2004-06-01'].resample('M').agg({'High':'max',
                                                     'Low':'min',
                                                     'Open':'mean',
                                                     'Close':'mean',
                                                     'Volume':'sum',})

In [ ]:
nasdaq['2002-05-01':'2004-06-01'].resample('M').agg({'High':'max',
                                                     'Low':'min',
                                                     'Open':'median',
                                                     'Close':'mean'})\
                                                     .plot(figsize=(15,8))

## Advanced Pandas

**Merging Dataframes**

**Pivot Tables**

In [30]:
test_df.pivot(index='ID',columns='IsStudent').head()

                      Name                 Age        Gender          \
IsStudent            False         True  False True    False   True
ID
100001         Harry Payne           NaN  63.0   NaN  Female     NaN
100002                 NaN  Emily Roland   NaN  43.0     NaN  Female
100003                 NaN   Alex Steele   NaN  21.0     NaN  Female
100004                 NaN  Mac Clarkson   NaN  60.0     NaN  Female
100005     Anastasia Payne           NaN  39.0   NaN    Male     NaN

            Country                Height                 Weight             \
IsStudent     False     True        False       True       False      True
ID
100001     Pakistan       NaN  166.243390         NaN  94.961548        NaN
100002          NaN  Scotland         NaN  153.720175        NaN  51.508408
100003          NaN   Ireland         NaN  163.968037        NaN  70.602036
100004          NaN  Emirates         NaN  172.111597        NaN  69.342162
100005      Ireland       NaN  182.232617         NaN  56.874504        NaN

           Score        Grade        Birthdate
IsStudent  False  True  False True       False      True
ID
100001     110.0    NaN     D   NaN 1973-08-31        NaT
100002       NaN  106.0   NaN     E        NaT 1970-10-13
100003       NaN   79.0   NaN     A        NaT 1972-06-20
100004       NaN   73.0   NaN     F        NaT 1984-10-17
100005      77.0    NaN     C   NaN 1998-05-08        NaT

**Cross Tab**

In [ ]:
test_df.head()

In [ ]:
pd.crosstab(test_df['Country'],test_df['Gender'],
            margins=True)

In [ ]:
pd.crosstab(test_df['Country'],[test_df['Gender'],test_df['IsStudent']],
            margins=True)

In [ ]:
pd.crosstab([test_df['Country'],test_df['IsStudent']],
            test_df['Gender'],margins=True)

In [ ]:
pd.crosstab(test_df['Country'],test_df['Gender'],
            values=test_df['Score'],
            aggfunc=np.mean,
            margins=True)

In [ ]:
pd.crosstab(test_df['Country'],[test_df['Gender'],test_df['IsStudent']],
            values=test_df['Score'],
            aggfunc=np.mean)